<form method="POST" action="/new">
	<input type="text" name="user" />
	<label for="user">User</label>
	<input type="text" name="text" />
	<label for="Text">Text</label>
	<input type="submit" />
</form>
